img,
embed,
object,
video {
    max-width: 100vw;
    margin: 0 auto;
    align-content: center;
    box-shadow: 0 10px 25px #888;
}

body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

footer {
    text-align: right;
    font-weight: 300;
    font-size: 1em;
    margin: 0 10vw;
}

.text-muted {
    color: #8c8888;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.title-logo {
    margin-top: 20px;
}

hr {
    display: block;
    margin: 0.5em auto 0.5em;
    border-style: solid;
    border-color: #bcbbbb;
    color: #bcbbbb;
} 

@media screen and (max-width: 2000px) {
    .title-hd {
    margin: 0 auto 0 5%;
    max-width: 70vw;
    }
    
    .img-banner {
    margin: 0 5% auto 5%;
    max-width: 1110px;
    min-width: 400px;
    max-height: 17vw;
    }
    
    .cont-hdr {
    margin: 0 5% auto 5%;
    max-width: 70vw;
    }
    
    .cont-body {
    margin: 0 5% auto 4%;
    max-width: 70vw;
    }
}

@media screen and (max-width: 991px) {
    .h1,
    .title-super {
    margin: -40px 0 0 20vw;
    font-size: 26px; 
    width: 80%;
    text-align: right;
    }
    
    .title-sub {
    margin: 0 0 0 20vw;
    font-size: 20px;
    width: 80%;
    }
    
    .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    
    .title-logo {
    margin-top: 2.5em;
    width: 70%;
    }
    
    .cont-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    }
    
    .specs {
    max-width: 600px;
    min-width: 350px;
    margin: 0 15vw;
    }
    
    .img-banner {
    margin: 0 auto 0 40px;
    max-width: 700px;
    min-width: 650px;
    }
    
    h3, 
    p {
    font-size: 1.5em;
    }
}   

@media screen and (max-width: 765px) {
    .h1,
    .title-super {
    margin: -50px 0 5px 20vw;
    font-size: 24px; 
    width: 100%;
    text-align: right;
    }
    
    .title-sub {
    margin: 0 0 0 20vw;
    font-size: 18px;
    width: 100%;
    }
    
    .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    
    .title-logo {
    margin-top: 2.5em;
    width: 75%;
    }
    
    .cont-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    }
    
    .img-banner {
    margin: 0 auto 0 40px;
    max-width: 700px;
    min-width: 650px;
    }
    
    h3,
    p {
    font-size: 1.5em;
    }    
}

@media screen and (max-width: 704px) {    
    .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    
    .title-logo {
    width: 50%;
    }
    
    .h1,
    .title-super {
    font-size: 20px;
    width: 100%;
    text-align: right;
    }
    
    .title-sub {
    width: 100%;
    text-align: right;
    margin: 0.5em 15vw 0 20vw;
    }
        
    .h2,
    h2 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    }
    
    .cont-hdr {
    margin: 0 15vw 0 18vw;
    width: 100%;
    }
    
    .h3,
    h3{
    font-size: 18px;
    text-align: center;
    width: 100%;
    }
    
    p {
    font-size: 16px;
    }
    
    .img-banner {
    max-width: 100%;
    min-width: 80%;
    margin: 0 15vw 0 13vw;
    }
    
    .specs-1 {
    margin: 0 0 0 -6vw;
    width: 300px;
    text-align: center;
    }
    
    .specs-2 {
    margin: 0 0 0 -6vw;
    width: 300px;
    text-align: center;
    }
    
    .specs-3 {
    margin: 0 0 0 -6vw;
    width: 300px;
    text-align: center;
    }    
}



