img, embed, object, video {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    box-shadow: 0px 10px 25px #888888;
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #8C8888;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.title-logo {
    margin-top: 20px;
}

.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #BCBBBB;
    color: #BCBBBB;
} 

.nav a, button{
    min-height: 48px;
    min-width: 48px;
}

[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

div#social a {
    margin: 0 1em 0 0;
}

div#social a:last-of-type {
    margin: 0;
}

div#social {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

div#social-sm {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 2000px) {
    social-sm, .social-sm {
    display: none;
    transition: 0.5s;
    }
    container, .container {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    }
    img-banner, .img-banner {
    max-width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;    
    }
    .cont-hdr, .cont-body, cont-hdr, cont-body {
    max-width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;      
    }
}

@media screen and (max-width: 991px) {
    h1,.h1, title-super, .title-super {
    margin-top: 2em;
    font-size: 30px; 
    width: 100%;
    margin-left: 35%;
    text-align: right;
    }
    title-sub, .title-sub {
    width: 100%;
    margin-left: 35%;
    }
    title-hd, .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    title-logo, .title-logo {
    margin-top: 2.5em;
    }
    .cont-hdr, .cont-body, cont-hdr, cont-body {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    }
    img-responsive, .img-responsive {
    width: 19vw;
    }
    h3, .h3, p, .p {
    font-size: 1em;
    }
    div#social {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    text-align: center;
    }
    social-sm, .social-sm {
    display: none;
    }
}   

@media screen and (max-width: 765px) {
    h1,.h1, title-super, .title-super {
    margin-top: 2em;
    font-size: 24px; 
    width: 100%;
    margin-left: 30%;
    text-align: right;
    }
    title-sub, .title-sub {
    width: 100%;
    margin-left: 30%;
    }
    title-logo, .title-logo {
    width: 100%;
    }
    title-hd, .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    h2, .h2 {
    font-size: 22px;
    }
    h3, .h3 {
    font-size: 15px;
    width: auto;
    }
    img-banner, .img-banner { 
    width: 90vw;
    }
    container2, .container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    }
    img-responsive, .img-responsive {
    width: 70vw;
    height: 30vw;
    }
    social, .social {
    display: none;
    }
    .social-sm {
    display: inherit;
    }
}

@media screen and (max-width: 704px) {
    h1,.h1, title-super, .title-super {
    margin-top: 2em;
    font-size: 18px; 
    width: 80%;
    margin-left: 40%;
    text-align: right;
    }
    title-sub, .title-sub {
    width: 80%;
    font-size: 12px;
    margin-left: 40%;
    }
    title-logo, .title-logo {
    width: 50%;
    display: inherit;
    }
    title-hd, .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    h2, .h2 {
    font-size: 18px;
    }
    h3, .h3 {
    font-size: 18px;
    width: auto;
    }
    img-banner, .img-banner { 
    width: 90vw;
    }
    container2, .container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    }
    img-responsive, .img-responsive {
    width: 70vw;
    height: 30vw;
    }
    social, .social {
    display: none;
    }
    .social-sm {
    display: inherit;
    }
}

@media screen and (max-width: 704px) {
    title-logo, .title-logo {
    display: none;
    }
    h1,.h1, title-super, .title-super {
    margin-top: 2em;
    font-size: 24px; 
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    title-sub, .title-sub {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    h2, .h2 {
    font-size: 22px;
    text-align: center;
    width: 100%;
    }
    h3, .h3 {
    font-size: 22px;
    text-align: center;
    width: 100%;
    }
}

