img, embed, object, video {
    max-width: 100vw;
    margin: 0vw auto;
    align-content: center;
    box-shadow: 0px 10px 25px #888888;
}

body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

footer {
    text-align: right;
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
    font-size: 1em;
    margin: 0vw 10vw;
}

.text-muted {
    color: #8c8888;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.title-logo {
    margin-top: 20px;
}

.hr { 
    display: block;
    margin-top: 0.5em auto 0.5em;
    border-style: solid;
    border-width: 2px;
    border-color: #bcbbbb;
    color: #bcbbbb;
} 

.nav-a, button{
    min-height: 48px;
    min-width: 48px;
}

[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: "zocial", sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}

div#social a {
    margin: 0 1em 0 0;
}

div#social a:last-of-type {
    margin: 0;
}

div#social {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

div#social-sm {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 2000px) {
    social-sm, .social-sm {
    display: none;
    transition: 0.5s;
    }
    container, .container {
    margin: 0 auto;
    max-width: 70vw;
    }
    img-banner, .img-banner {
    margin: 0 16vw;   
    max-width: 70vw;
    max-height: 17vw;
    }
    .cont-hdr, cont-hdr {
    margin: 0 15vw;      
    max-width: 70vw;
    }
    .cont-body, cont-body {
    margin: 0 18vw 0 15vw;   
    max-width: 75vw;
    }
}

@media screen and (max-width: 991px) {
    h1,.h1, title-super, .title-super {
    margin: 2em 0 0 35%;
    font-size: 30px; 
    width: 100%;
    text-align: right;
    }
    title-sub, .title-sub {
    margin: 1em 0 0 35%;
    width: 100%;
    }
    title-hd, .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    title-logo, .title-logo {
    margin-top: 2.5em;
    }
    .cont-hdr, .cont-body, cont-hdr, cont-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em auto;
    align-content: center;
    }
    img-responsive, .img-responsive {
    width: 21vw;
    }
    h3, .h3, p, .p {
    font-size: 1.1em;
    }
    div#social {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    }
    social-sm, .social-sm {
    display: none;
    }
}   

@media screen and (max-width: 765px) {
    h1,.h1, title-super, .title-super {
    margin: 2em 0 0 30%;
    font-size: 24px; 
    width: 100%;
    text-align: right;
    }
    title-sub, .title-sub {
    margin: 1em 0 0 30%;
    width: 100%;
    }
    title-logo, .title-logo {
    width: 100%;
    }
    title-hd, .title-hd {
    display: flex;
    flex-wrap: wrap;
    }
    h2, .h2 {
    font-size: 22px;
    }
    h3, .h3 {
    width: auto;
    font-size: 15px;
    }
    img-banner, .img-banner { 
    margin: 0 14vw;
    width: 90vw;
    }
    img-responsive, .img-responsive {
    width: 70vw;
    height: 30vw;
    }
    social, .social {
    display: none;
    }
    .social-sm {
    display: inherit;
    }
}

@media screen and (max-width: 704px) {
    title-logo, .title-logo {
    display: none;
    }
    h1,.h1, title-super, .title-super {
    margin: 2em 0 0 0;
    font-size: 24px; 
    width: 100%;
    text-align: center;
    }
    title-sub, .title-sub {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 1em auto 0;
    }
    h2, .h2, h3, .h3 {
    font-size: 22px;
    text-align: center;
    width: 100%;
    }
    img-banner, .img-banner { 
    width: 90vw;
    }
    img-responsive, .img-responsive {
    width: 70vw;
    height: 30vw;
    }
    social, .social {
    display: none;
    }
    .social-sm {
    display: inherit;
    }
}